<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.iscas.workingdiary.mapper.CertMapper">

    <resultMap id="cert" type="com.iscas.workingdiary.bean.Cert">
        <id column="cert_no" property="certNo"/>
        <result column="pem_cert" property="pemCert"/>
        <result column="cert_addr" property="certAddr"/>
        <result column="cert_status" property="certStatus"/>
        <result column="cert_level" property="certLevel"/>
        <result column="private_key" property="privateKey"/>
        <result column="common_name" property="commonName"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


    <insert id="insertCert" parameterType="Cert">
        INSERT INTO t_cert
            (cert_no, pem_cert, cert_addr, cert_status, cert_level, private_key)
        VALUES
            (#{certNo},#{pemCert}, #{certAddr}, #{certStatus}, #{certLevel},#{privateKey})
    </insert>

    <update id="updateCert" parameterType="Cert">
        update t_cert
        <set>
            <if test="userId != null">user_id=#{userId},</if>
            <if test="pemCert != null">pem_cert=#{pemCert},</if>
            <if test="certAddr != null">cert_addr=#{certAddr},</if>
            <if test="certStatus != null">cert_status=#{certStatus},</if>
            <if test="certLevel != null">cert_level=#{certLevel}</if>
        </set>
        WHERE
            <if test="certNo != null">cert_no=#{certNo}</if>
    </update>

    <delete id="deleteCertByCertNo" parameterType="java.lang.String">
        DELETE FROM t_cert
        WHERE
            <if test="certNo != null">cert_no=#{certNo}</if>
    </delete>
    
    <delete id="deleteCertByUserId" parameterType="java.lang.Integer">
        DELETE FROM t_cert
        WHERE
            <if test="userId != null">user_id=#{userId}</if>
    </delete>

    <select id="queryCert" parameterType="java.lang.String" resultMap="cert">
        SELECT* FROM t_cert
        WHERE
            <if test="certNo != null">cert_no=#{certNo}</if>
    </select>

    <select id="selectAll" resultType="java.util.List">
        SELECT* FROM t_cert
    </select>

    <select id="verifyCert" resultMap="cert">
        SELECT * FROM t_cert
        WHERE
            <if test="userId != null">user_id=#{userId}</if>
    </select>

</mapper>
