<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.iscas.workingdiary.mapper.DiaryMapper">
    <cache type="com.iscas.workingdiary.redis.RedisCache" />
    <resultMap id="diary" type="com.iscas.workingdiary.bean.Diary">
        <id property="diaryId" column="diary_id"/>
        <id property="userName" column="user_name"/>
        <id property="diaryText" column="diary_text"/>
        <id property="txId" column="tx_id"/>
        <id property="createTime" column="create_time" javaType="java.sql.Timestamp"/>
    </resultMap>

    <delete id="deleteDiaryByName" parameterType="String">
        delete from t_diary
        where user_name=#{userName};
    </delete>

    <select id="selectDiaryByName" parameterType="String" resultMap="diary">
        select* from t_diary
        <where>
            <if test="userName != null and userName != ''">user_name=#{userName}</if>
        </where>
    </select>

    <insert id="insertDiary" parameterType="com.iscas.workingdiary.bean.Diary">
        insert into t_diary
        (diary_id, user_name, diary_text, tx_id, create_time)
        value (#{diaryId}, #{userName}, #{diaryText}, #{txid}, #{createTime})
    </insert>

</mapper>
