<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.iscas.workingdiary.mapper.UserMapper">

    <resultMap id="user" type="User">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_sex" property="userSex"/>
        <result column="project_team" property="projectTeam"/>
        <result column="user_position" property="userPosition"/>
        <result column="cert_no" property="certNo"/>
        <result column="role_id" property="roleId"/>
        <result column="register_time" property="registerTime"/>
    </resultMap>

    <resultMap id="customUserDetails" type="com.iscas.workingdiary.bean.CustomUserDetails">
        <id column="user_name" property="username"/>
        <id column="password" property="password"/>
        <collection property="roles" ofType="com.iscas.workingdiary.bean.Role">
            <id column="role_id" property="roleId"/>
            <id column="role_name" property="roleName"/>
        </collection>
    </resultMap>

    <update id="updateByName" parameterType="User">
        update t_user
        <set>
            <if test="userSex != null and userSex != ''">user_sex=#{userSex},</if>
            <if test="projectTeam != null and projectTeam != ''">project_team=#{projectTeam},</if>
            <if test="userPosition != null and userPosition != ''">user_position=#{userPosition},</if>
            <if test="leader != null and leader != ''">leader=#{leader},</if>
            <if test="certNo != null and certNo != ''">cert_no=#{certNo}</if>
        </set>
        <where>
            <if test="userName != null and userName != ''">user_name=#{userName}</if>
        </where>
    </update>


    <select id="userLogin" resultMap="user">
        SELECT*
        FROM t_user
        <where>
            <if test="userName != null and userName != ''">
                user_name=#{userName}
            </if>
            <if test="password != null and password != ''">
                and password=#{password}
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="User">
        INSERT INTO t_user
            (user_id, user_name, user_sex, project_team, user_position, leader, role_id, password,cert_no)
        VALUES
            (#{userId}, #{userName}, #{userSex}, #{projectTeam}, #{userPosition}, #{leader}, #{roleId}, #{password}, #{certNo})
    </insert>
    
    <delete id="deleteUser" parameterType="String">
        DELETE FROM t_user
        <where>
            <if test="userId != null and userId != ''">user_id = #{userId}</if>
        </where>
    </delete>

    <select id="selectOne" parameterType="User" resultMap="user">
        SELECT*
        FROM t_user
        <where>
            <if test="userName != null and userName != '' ">
                and user_name=#{userName}
            </if>
            <if test="userId != null and userId != '' ">
                and user_id=#{userId}
            </if>
        </where>
    </select>

    <!-- 仅用于用户登录验证和鉴权，返回CustomUserDetails-->
    <select id="findByUserName" parameterType="String" resultMap="customUserDetails">
        SELECT u.user_name, u.password, r.role_name
        FROM t_user u
        LEFT JOIN t_role r
        ON u.role_id=r.role_id
        <where>
            <if test="userName != null and userName != '' ">
                u.user_name=#{userName}
            </if>
        </where>
    </select>

    <select id="selectByUserName" parameterType="String" resultMap="user">
        SELECT*
        FROM t_user
        <where>
            <if test="userName != null and userName != '' ">
                user_name=#{userName}
            </if>
        </where>
    </select>


    <select id="findByUserId" parameterType="String" resultMap="user">
        SELECT*
        FROM t_user
        <where>
            <if test="userId != null and userId != '' ">
                user_id=#{userId}
            </if>
        </where>
    </select>

    <update id="modifyPassword">
        update t_user
        <set>
            <if test="password != null and password != ''">password=#{password}</if>
        </set>
        where
            user_name=#{userName}
    </update>

    <select id="selectTotalIntegral" parameterType="String" resultType="Integer">
        SELECT SUM(score) FROM t_integral
        WHERE user_name=#{userName};
    </select>

    <select id="selectIntegralList" parameterType="String" resultType="com.iscas.workingdiary.bean.Integral">
        select* from t_integral
        WHERE user_name=#{userName};
    </select>

</mapper>
