<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.iscas.workingdiary.mapper.UserMapper">

    <update id="updateUser" parameterType="com.iscas.workingdiary.bean.User">
        update t_user
        <set>
            <if test="userName != null">user_name=#{userName},</if>
            <if test="userSex != null">user_sex=#{userSex},</if>
            <if test="projectTeam != null">project_team=#{projectTeam},</if>
            <if test="userPosition != null">user_position=#{userPosition},</if>
            <if test="leader != null">leader=#{leader},</if>
            <if test="role != null">role=#{role},</if>
            <if test="password != null">password=#{password}</if>
        </set>
        WHERE
            <if test="userId != null">user_id=#{userId}</if>
    </update>


    <select id="userLogin" resultType="java.lang.String">
        SELECT user_name
        FROM t_user
        WHERE
            <if test="userName != null">user_name=#{userName}</if>
        AND
            <if test="password != null">password=#{password}</if>
    </select>

    <insert id="insertUser" parameterType="com.iscas.workingdiary.bean.User">
        INSERT INTO t_user
            (user_id, user_name, user_sex, project_team, user_position, leader, role, password,cert_no)
        VALUES
            (#{userId}, #{userName}, #{userSex}, #{projectTeam}, #{userPosition}, #{leader}, #{role}, #{password}, #{certNo})
    </insert>
    
    <delete id="deleteUser" parameterType="java.lang.Integer">
        DELETE FROM t_user
        WHERE
        <if test="userId != null">user_id = #{userId}</if>
    </delete>

    <select id="validate" resultType="java.lang.String">
        SELECT user_name
        FROM t_user
        WHERE
        <if test="userId != null">user_id=#{userId}</if>
    </select>
</mapper>
